.container {
  height: 100vh;
  background: linear-gradient(135deg, #ef745c, #421072, #34073d);
  background-size: 600% 600%;
  display: flex;
  justify-content: center;
  align-items: center;

  -webkit-animation: AnimationName 26s ease infinite;
  -moz-animation: AnimationName 26s ease infinite;
  animation: AnimationName 26s ease infinite;
}

.message {
  text-align: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 20px;
  max-width: 450px;
}

.messageTitle {
  font-size: 32px;
  font-weight: 100;
  margin-top: 15px;
  font-weight: bold;
  color: white;
  margin-bottom: 8px;
}

.messageButton {
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.9);
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 4px;
  margin-top: 10px;
  font-size: 14px;
}


@-webkit-keyframes AnimationName {
  0% {
    background-position: 23% 0%
  }

  50% {
    background-position: 78% 100%
  }

  100% {
    background-position: 23% 0%
  }
}

@-moz-keyframes AnimationName {
  0% {
    background-position: 23% 0%
  }

  50% {
    background-position: 78% 100%
  }

  100% {
    background-position: 23% 0%
  }
}

@keyframes AnimationName {
  0% {
    background-position: 23% 0%
  }

  50% {
    background-position: 78% 100%
  }

  100% {
    background-position: 23% 0%
  }
}